<link rel="stylesheet" type="text/css" href="/css/modifyPages.css">


<section class="modifySection">
    <form action="/admin/users/{{user.[0].id}}/update" method="post" id="updateUser">
    <div>
        <label for="firstName">For navn:</label>
        <input type="text" id="firstName" name="firstName" value="{{user.[0].firstName}}">
    </div>
        <div>
        <label for="lastName">Efter navn:</label>
        <input type="text" id="lastName" name="lastName" value="{{user.[0].lastName}}">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{user.[0].email}}">
    </div>
    <div>
        <label for="phone">Telefon:</label>
        <input type="text" id="phone" name="phone" value="{{user.[0].phone}}">
    </div>
    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="{{user.[0].address}}">
    </div>
    <div>
        <label for="city">By:</label>
        <input list="cities" id="city" name="city" value="{{#if user.[0].[City.zipCode]}}{{user.[0].[City.name]}} ({{user.[0].[City.zipCode]}}){{/if}}" autocomplete="off">
    
        <datalist id="cities">
            {{#each cities}}
                <option value="{{this.name}} ({{this.zipCode}})"></option>
            {{/each}}
        </datalist>

    </div>

    <div>
        <label for="roleId">Rolle:</label>
        <select name="roleId" id="roleId">
            {{#each roles}}
                <option value="{{this.id}}" {{#ifEq this.id ../user.[0].roleId}}selected{{/ifEq}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    
    <div>
        <a class="btn-white" href="{{currentPath}}/tasks">Rengørings historik</a>
    </div>
    <div>
        <a class="btn-white" href="{{currentPath}}/gasstations">Relaterede tankstationer</a>
    </div>

    <div>
        <button type="submit" form="deleteUser">
            <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg" title="Slet bruger">
                <path d="M20.7249 6.22537L19.95 8.5499H11.4C9.82364 8.5499 8.55005 9.8235 8.55005 11.3999C8.55005 12.9763 9.82364 14.2499 11.4 14.2499H45.6C47.1764 14.2499 48.45 12.9763 48.45 11.3999C48.45 9.8235 47.1764 8.5499 45.6 8.5499H37.05L36.2752 6.22537C35.8833 5.05865 34.7968 4.2749 33.5677 4.2749H23.4324C22.2033 4.2749 21.1168 5.05865 20.7249 6.22537ZM45.6 18.5249H11.4L13.2793 47.301C13.4218 49.5543 15.2921 51.2999 17.5454 51.2999H39.4547C41.708 51.2999 43.5783 49.5543 43.7208 47.301L45.6 18.5249Z" fill="black"/>
            </svg>
        </button>
        <button type="submit" form="updateUser">
            <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg" title="Gem bruger informationer">
                <path d="M52.7232 8.43617C50.5674 6.28039 47.0827 6.28039 44.9269 8.43617L42.5251 10.838L52.1621 20.4751L54.564 18.0732C56.7197 15.9174 56.7197 12.4327 54.564 10.277L52.7232 8.43617ZM23.2707 30.0924C22.6702 30.6929 22.2075 31.4312 21.9418 32.2482L19.028 40.9895C18.7425 41.836 18.969 42.7712 19.599 43.411C20.229 44.0509 21.1641 44.2674 22.0205 43.982L30.7618 41.0682C31.569 40.8024 32.3072 40.3398 32.9175 39.7393L48.8251 23.8121L39.188 14.1751L23.2707 30.0924ZM15.75 12.6001C10.5329 12.6001 6.30005 16.8329 6.30005 22.0501V47.2501C6.30005 52.4673 10.5329 56.7001 15.75 56.7001H40.9501C46.1672 56.7001 50.4001 52.4673 50.4001 47.2501V37.8001C50.4001 36.0577 48.9924 34.6501 47.25 34.6501C45.5077 34.6501 44.1001 36.0577 44.1001 37.8001V47.2501C44.1001 48.9924 42.6924 50.4001 40.9501 50.4001H15.75C14.0077 50.4001 12.6 48.9924 12.6 47.2501V22.0501C12.6 20.3077 14.0077 18.9001 15.75 18.9001H25.2001C26.9424 18.9001 28.35 17.4924 28.35 15.7501C28.35 14.0077 26.9424 12.6001 25.2001 12.6001H15.75Z" fill="black"/>
            </svg>
        </button>
    </div>
    </form>
    <form class="hidden" action="/admin/users/{{user.[0].id}}/delete" method="post" id="deleteUser" onsubmit="return confirm('Slet nuværende tankstation?');"/>
</section>