<h2>Tak, {{task.[User.firstName]}}!</h2>

<p>Din rengøring hos</p>
<h4>{{task.[Gasstation.Branch.name]}}, {{task.[Gasstation.address]}}, {{task.[Gasstation.City.zipCode]}}
    {{task.[Gasstation.City.name]}} </h4>

<!-- <h4>{{task.startTime}}</h4> WANT TO DO FORMATTING -->

<p>er nu blevet logget, i vores system!</p>


<p>Bekræftelse mail er sendt
    tankstationsejer </p>

<a href="/createTask"> 
<button >Start ny log</button>
</a>

<link rel="stylesheet" type="text/css" href="/css/completedTask.css">