<!--velkommen (med tom string der henter fra profil)-->
<section>
    <p>Velkommen {{users.firstName}}
</section>



<section>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Vælg tankstation</h1>

            {{!-- loop over hver branch (Q8, Shell, OK Plus, UNO-X, Cirkle K) --}}
            {{#each branchDropdowns}}
            <div class="branch-dropdown">
                <label for="station-{{name}}">{{name}}</label>
                <select id="station-{{name}}" name="station-{{name}}">
                    <option value="">Vælg station</option>

                    {{!-- loop over stationer under denne branch --}}
                    {{#each stations}}
                    <option value="{{id}}">{{address}}</option>
                    {{/each}}
                </select>
            </div>
            {{/each}}

        </div>
    </div>
</section>

<section>
    <!--start rengøring ved (valgte tankstation)-->
    <p>start rengøring ved {{gasstations.branch}}</p>
</section>


<section>
    <!--valg af dato, med automatisk valg af idag-->
    <div>
        <p>kalender</p>
    </div>
</section>


<section>
    <!--tidspunkt for rengøring-->
    <div>
        <p>start tidspunt for rengøring</p>
    </div>
</section>


<section></section>
<!--start log-->
<button>start log</button>
</section>


<link rel="stylesheet" type="text/css" href="./css/modal.css">
<script src="/js/modal.js" defer></script>