<!--velkommen (med tom string der henter fra profil)-->
<section>
    <h1>Velkommen {{users.firstName}}
</section>


<form action="/createTask" method="post" id="startLog">

    <section>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn" type="button">Vælg tankstation</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Vælg tankstation</p>

            {{!-- loop over hver branch --}}
            {{#each branchDropdowns}}
            <div class="branch-dropdown">
                
                <select id="station-{{name}}" name="station-{{name}}" class="station-select">
                    <option value="">{{name}}</option>

                        {{!-- loop over stationer under denne branch --}}
                        {{#each stations}}
                        <option value="{{id}}" data-address="{{address}}">
                            {{address}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                {{/each}}


                <!-- Knap til at vælge station -->
                <button class="selectStationBtn" id="selectStationBtn" type="button">Vælg station</button>
            </div>
        </div>
    </section>

    <section>
        <!-- start rengøring ved (valgte tankstation) -->
        <p>Start rengøring ved:</p>
        <span id="selected-station"></span>
    </section>


    <section>
        <div id="calendar" style="max-width:900px;margin:20px auto;"></div>
        <label class="calenderText" for="startTime">Dato & tid</label>
        <input id="startTime" name="startTime" type="datetime-local" required />
    </section>


    <section>
    <!--start log-->
    <button form="startLog" class="startLog" type="submit">Start log</button>
    </section>
</form>


<link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.7/main.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.7/main.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="./css/creatTask.css">
<link rel="stylesheet" type="text/css" href="./css/modal.css">
<link rel="stylesheet" type="text/css" href="./css/createTask.css">


<script src="/js/modal.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.7/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.7/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.7/main.min.js"></script>

