
<section class="sec1">
<h2>Velkommen {{owner.firstName}}!</h2>
<h3>{{message}}</h3>
</section>

<section class="sec2">
{{#each gasstations}}

<a href="/admin/gasstations/{{this.id}}">  
    <button>
        {{this.cityCode}}, {{this.[City.name]}}, {{this.address}}
    </button>
    </a>
{{/each}}
</section>

<link rel="stylesheet" type="text/css" href="./css/owner.css">
