<link rel="stylesheet" type="text/css" href="./css/profile.css">
<div style="height:50px; overflow-x:scroll;">
    <p>
    {{#each users}}
        {{this.firstName}}, 
    {{/each}}
    </p>
    <p>{{ exampleUser.firstName }}</p>
</div>
<section class="profile-card">
    <svg width="152" height="134" viewBox="0 0 152 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.5" y="1.5" width="148.965" height="130.719" rx="3.5" stroke="black" stroke-width="3"/>
        <circle cx="77.1229" cy="52.0351" r="33.0702" fill="black"/>
        <rect x="34.9299" y="80.5438" width="84.386" height="52.4561" rx="5" fill="black"/>
    </svg>
    <div class="inputField">
        <label for="fullName">Fulde navn</label>
        <input id="fullName" type="text" value="{{currentUser.firstName}} {{currentUser.lastName}}" disabled>
    </div>
    <div class="inputField">
        <label for="emailInput">Email adresse</label>
        <input id="emailInput" type="text" value="{{ currentUser.email }}" disabled>
    </div>
    <div class="inputField">
        <label for="fullName">Telefonnummer</label>
        <input id="fullName" type="text" value="{{currentUser.phone}}" disabled>
    </div>
    <a href="/">Rengørings historik</a>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 28"><path fill="#c8102e" d="M0,0H37V28H0Z"/><path stroke="#fff" stroke-width="4" d="M0,14h37M14,0v28"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30" width="1200" height="600">
<clipPath id="s">
	<path d="M0,0 v30 h60 v-30 z"/>
</clipPath>
<clipPath id="t">
	<path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/>
</clipPath>
<g clip-path="url(#s)">
	<path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
	<path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
	<path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
	<path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
	<path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
</g>
</svg>
</section>