<section class="task-showImages">
    <h2>{{message}}</h2>
    {{#if images}}

    <div class="text-container">
        <h3>Rengøring udført hos: </h3>
        <h4>{{taskInfo.[Task.Gasstation.address]}}</h4>
    </div>
    <p>Rengøring udført af: {{taskInfo.[Task.User.firstName]}} {{taskInfo.[Task.User.lastName]}}</p>
    <p>Kontakt rengøringspersonale: <br>
        {{taskInfo.[Task.User.phone]}}
        <br>
        {{taskInfo.[Task.User.email]}}
    </p>
    {{/if}}

{{#if images}}
    <h2 class="">Før billeder</h2>
    <div class="imageGrid">

    {{#each images}}
    {{#ifEq this.beforeAfter 0}}
    <div class="image-container">
        <img src="/imgUploads/{{this.filename}}" alt="Task Image" class="taskImages">
    </div>
    {{/ifEq}}
    {{/each}}

    </div>

    <h2 class="">Efter billeder</h2>

<div class="imageGrid">
    {{#each images}}
    {{#ifEq this.beforeAfter 1}}
    <div class="image-container">
        <img src="/imgUploads/{{this.filename}}" alt="Task Image" class="taskImages">
    </div>
    {{/ifEq}}
    {{/each}}
</div>
</section>
{{/if}}


<link rel="stylesheet" type="text/css" href="/css/showTaskImages.css">